{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

    <script type="module" src="https://unpkg.com/@globus/ui/globus.esm.js"></script>
    <script nomodule src="https://unpkg.com/@globus/ui/globus.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@globus/ui/globus.css" />
