<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
  {%- feed_meta -%}

    <script type="module" src="https://unpkg.com/@globus/ui/globus.esm.js"></script>
    <script nomodule src="https://unpkg.com/@globus/ui/globus.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@globus/ui/globus.css" />

  
</head>
